<article class="card--lost card--lost-grid">
  <header class="card--lost__header">
    <h3>Mascota</h3>
  </header>
  <figure class="card--lost__figure">
      <img src="../../../../assets/img/gatoAdopcion11.jpg" alt="imagen_de_mascota">
  </figure>
  <div class="card--lost__content">
    <p>Ingresado: 12/12/12</p>
    <p>Color: amarillo</p>
    <p>Raza: No lo c</p>
    <p>Sexo: Macho</p>
    <p>Características: Juguetón</p>
  </div>
  <footer class="card--lost__footer">
    <p (click)="showModal()">¡Es mío!</p>
  </footer>
</article>
