<footer>

    <section id="contacto">
        <div class="container">
            <h3>Contacto</h3>
            <form action="envio_formulario.php" class="form" method="post" enctype="multipart/form-data">
                <input placeholder="Nombre" class="in" type="text" name="nombre" value="">
                <input placeholder="Email" class="in" type="email" name="email" value="">
                <textarea placeholder="Mensaje" name="mensaje"></textarea>
            <div id="mensaje4" class="success"> <i class="fa fa-check">Mensaje Enviado</i> </div>
            <input class="submit" type="submit" id="bEnviar" value="ENVIAR">
        </form>
            <span class="tel"><img class="iconTelephone" src="https://img.icons8.com/material/24/000000/phone.png">
                 3820879</span>
                 <span class="direccion"><img src="https://img.icons8.com/material/24/000000/exterior.png">Av. López Mateos (Entre Smas Club y Penal)</span>
                 <span class="calendario"><img src="https://img.icons8.com/material/24/000000/planner.png">Días de Atencion: Lunes a Viernes</span>
                 <span><img class="clock" src="https://img.icons8.com/ios/24/000000/clock-filled.png">Horario: 8:00hrs. - 16:00hrs</span>
        </div>
    </section>

</footer>