<header class="menu">
    <div class="container" id="container-menu">
        <figure class="logo">
            <img src="assets/img/logoNewWhite.png" alt="Logo de Arca">
        </figure>
        <nav>
            <ul>
                <li routerLinkActive="active">
                    <a [routerLink]="['/welcome','landing']">Home</a>
                </li>
                <li routerLinkActive="active">
                    <a [routerLink]="['/welcome','adopt']">Adopta</a>
                </li>
                <li routerLinkActive="active">
                    <a [routerLink]="['/welcome','lost']">Perdidos</a>
                </li>
                <li routerLinkActive="active">
                    <a [routerLink]="['/welcome','news']">Noticias</a>
                </li>
                <li routerLinkActive="active">
                    <a [routerLink]="['/welcome','dates']">Citas</a>
                </li>
                <li routerLinkActive="active">
                    <a [routerLink]="['/welcome','tips']">Tips</a>
                </li>
                <li routerLinkActive="active">
                    <a [routerLink]="['/welcome','contact']">Contacto</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
