<form class="form-date">
  <h3>Agenda una cita para esterilización</h3>
  <h4>Ingresa los siguientes datos</h4>
  <label for="txtName">Nombre del dueño</label>
  <input id="txtName" type="text" required>
  <label for="txtPetName">Nombre de la mascota</label>
  <input id="txtPetName" type="text" required>
  <label for="selectAge"></label>
  <select name="" id="selectAge">
      <option value="">Elige un rango de edad</option>
      <option value="">Menos de un año</option>
      <option value="">Entre 1 y 2 años</option>
      <option value="">Más de 2 años</option>
  </select>
  <label for="txtDate">Elige una fecha</label>
  <input type="date" name="" id="txtDate">
  label
</form>
