<article class="card-adopt card-adopt-grid"> 
  <header class="card-adopt__header">
    <h3>Perro</h3>
  </header>
  <figure class="card-adopt__img">
    <img src="../../../../assets/img/peroAdopcion2222.jpg" alt="imagen">
  </figure>
  <section class="card-adopt__content">
    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti adipisci voluptatum repudiandae praesentium distinctio? Tempora consectetur reprehenderit natus sapiente, minima quod vitae nisi similique eius impedit, facilis necessitatibus deserunt ullam.</p> -->
  </section>
  <footer class="card-adopt__footer centered-layout">
    <a>Ver más</a>
  </footer>
</article>
