<div class="testbox">
        <h1>Iniciar Sesión</h1> 
        <form action="/">
        <label id="icon" for="name"><i class="icon-envelope "></i></label>
        <input type="text" name="name" id="name" placeholder="Email" required/>
        <label id="icon" for="name"><i class="icon-shield"></i></label>
        <input type="password" name="name" id="name" placeholder="Password" required/>
         <a href="#" class="button">Iniciar</a>
         <a href="#" class="button">Registrarse</a>
        </form>
      </div>