<form class="form-register centered-layout">
  <h2>Crea una cuenta</h2>
  <input class="form-register__input" id="txtName" placeholder="Nombre" type="text" required>
  <input class="form-register__input" id="txtApellidos" placeholder="Apellidos" type="text" required>
  <input class="form-register__input" id="txtCorreo" placeholder="Apellidos" type="text" required>
  <input class="form-register__input" id="txtPassword" placeholder="Contraseña" type="password" required>
  <input class="form-register__input" id="txtPassword" placeholder="Confirme Contraseña" type="password" required>
  <label for="txtDate">Feha de Nacimiento</label>
  <input class="form-register__input" type="date" name="" id="txtDate" required>
  <button class="form-register__submit" type="submit">Registrarse</button>
</form>