<div class="singlePost-grid singlePost-card">
  <figure>
    <img src="../../../assets/img/noticia2.jpg" alt="noticia" class="singlePost-image">
  </figure>
  <div class="singlePost-new">
    <h2>Campaña</h2>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae asperiores, animi, incidunt nisi,
    consectetur repellendus ea ipsam unde cumque totam vitae quaerat? Mollitia molestias praesentium 
    fugiat doloribus? Cupiditate, possimus modi!
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae asperiores, animi, incidunt nisi,
    consectetur repellendus ea ipsam unde cumque totam vitae quaerat? Mollitia molestias praesentium 
    fugiat doloribus? Cupiditate, possimus modi!
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae asperiores, animi, incidunt nisi,
    consectetur repellendus ea ipsam unde cumque totam vitae quaerat? Mollitia molestias praesentium 
    fugiat doloribus? Cupiditate, possimus modi!
  </div>
</div>