/* You can add global styles to this file, and also import other style files */

/* variables */

:root {
    /* colores */
    --color-primary: #9D3092;
    --color-accent: #FF8F12;
    --color-warn: #EA2332;
    --color-success: #00AB5B;
    --color-text: #222627;
    --color-border: #cfcfcf;
    --color-secondary: #AF1E38;
    /* medidas */
    --header-height: 4rem;
    --top: 10vh;

    /* elevaciones */
    --z-menu: 10;
}

:root{
	--gris: #9f9f9f;
	--naranje: #FF8F12;
}


.body-gray{
	font-family: 'Open Sans', sans-serif;
	color: var(--gris);
	font-size: 13px;
}

/* resetear estilos del navegador */

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

/* clases de tipo layout */

.centered-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* componentes */

/* encabezado */

.container{
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
}

.jumbotron{
    height: 100vh;
    background: linear-gradient(45deg,rgba(105,76,146,.9), rgba(157,127,186,.9)) , url('assets/img/mujerAbrazandoPerro.jpg') left no-repeat;
    background-size: cover;
    background-blend-mode: color;
}

.menu .logo {
    width: calc(var(--header-height) * 1.5);
    height: calc(var(--header-height) * 1.5);
}

.logo img{
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: fill;
}

#container-menu{
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

nav ul li{
    margin-right: 60px;
    list-style: none;
}

nav ul li a {
    color: #fff;
    transition: border-bottom 0.3s ease-in-out;
}

.active, nav ul li a:hover {
    border-bottom: calc(var(--header-height)/10) solid #fff;
}

.menu {
    width: 100%;
    height: calc(var(--header-height) * 1.5);
    background: transparent;
    position: absolute;
    z-index: var(--z-menu);
}

/* Footer */

ol,ul{
	text-decoration: none;
	text-decoration-color: none;
}

footer{
    background-color: #363d41;
    display: flex;
    color: var(--gris);
    padding-top: 1vw;
    padding-bottom: 1vh;
    position: relative;
}

footer section div ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    margin-left: 10vh;
}

.clock{
    display: flex;
    align-items: center;
    position: absolute;
    top: 3vh;
    /* height: 50%; */
    position: absolute;
    right: 10vh;
}

.direccion{
    display: flex;
    align-items: center;
    position: absolute;
    top: 7vh;
    height: 50%;
    position: absolute;
    right: 10vh;
}

.tel{
    font-size: 50px;
}

.tel, .iconTelephone{
    display: flex;
    align-items: center;
    position: absolute;
    top: 1vh;
    /* height: 50%; */
}

.calendario{
    display: flex;
    align-items: center;
    position: absolute;
    top: 5vh;
    height: 50%;
    position: absolute;
    right: 10vh;
}

.iconTelephone{
    position: absolute;
    right: 10vh;
}

.tel{
    position: absolute;
    right: 20vh;
   padding: 1vh;
}

footer section div ul li{
    margin-right: 60px;
    list-style: none;
}

footer section div ul li a, .tel {
    font-family: 'Open Sans', sans-serif;
	color: var(--gris);
    font-size: 13px;
    font-weight: bold;
}

.active, footer section div ul li a:hover {
    color: white;
    font-family: sans-serif;
    font-size: 13px;
    border-bottom: 0 solid #fff;
}

/* Página del landing */

/* Banner del landing */

.container-title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20%;
}

.container-title h1{
    font-size: 60px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 0;
}

.container-title h2{
    font-size: 25px;
    color: white;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 40px;
    margin: calc(var(--header-height) / 2) 0;
}

.container-title a{
    width: 165px;
    display: inline-block;
    color: white;
    text-align: center;
    background: #FF8F12;
    font-size: 14px;
    padding: 14px 24px;
    text-transform: uppercase;
    border-radius: 5px;
}

.container-title .title{
    text-align: center;
}

/* Página adopcion */


/* Banner de la página de adopción */

.banner-adopt {
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, var(--color-success), var(--color-success)), url('assets/img/Perros-abrazando-a-sus-Dueños-16-730x523.jpg') left no-repeat;
    background-blend-mode: multiply;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
    position: relative;
    background-size: cover;
    background-position: top;
}

.banner-adopt img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    opacity: .4;
    z-index: -10;
}

.banner-adopt h3 {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-size: calc(var(--header-height) / 1.5);
}

.banner-adopt__content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Formulario de búsqueda por filtro en la página de adopción */

.form-search{
    width: 100%;
    max-width: 100%;
    padding: calc(var(--header-height) / 2);
    height: auto;
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container-search {
    display: flex;
    flex-wrap: wrap;
}

.form {
    position: relative;
    top:  calc(var(--top) - 25vh);
    z-index: 10;
    width: 60%;
    max-width: 70%;
    box-shadow: .2vmin .2vmin .2vmin .2vmin var(--color-border);
}

.filter{
    padding: 1rem 2rem;
    width: calc(var(--header-height) * 5);
    position: relative;
    margin-top: .8rem;
}

.label{
    position: absolute;
    top: -.1rem;
    margin-top: 1rem;
}

.button {
    width: 60%;
    padding: 1rem 2rem;
    color: #fff;
    margin-top: calc(var(--header-height)/4);
    margin-left: auto;
    margin-right: auto;
}

.button--submit {
    background: var(--color-success);
}

/* Tarjetas de categorías de mascotas */

.categories {
    padding-bottom: var(--header-height);
    justify-content: space-around;
}

.card {
    width: 60vmin;
    max-width: 60vmin;
    height: 70vmin;
    border-radius: 1vmin;
    box-shadow: .1vmin .1vmin .1vmin .2vmin var(--color-border);
    flex: 1;
}

.card-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr var(--header-height);
    grid-gap: 0;
}

.card__figure, .card__figure img {
    height: 100%;
    width: 100%;
}

.card__figure img {
    object-fit: cover;
    object-position: center;
    border-top-left-radius: 1vmin;
    border-top-right-radius: 1vmin;
}

.card__footer {
    width: 100%;
    background: var(--color-text);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 0 1rem;
    border-bottom-left-radius: 1vmin;
    border-bottom-right-radius: 1vmin;
}

.card__link {
    height: 100%;
    width: 40%;
    display: inherit;
    align-items: center;
    justify-content: center;
    background: var(--color-success);
    clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%);
    border-bottom-right-radius: 1vmin;
}

.card__link a {
    color: #fff;
}

/* Banner de la página perdidos */

.banner-lost {
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, var(--color-secondary), var(--color-warn)), url('assets/img/peroAdopcion444444.jpg') left no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    clip-path: polygon(0 0, 100% 0, 100% 90% , 50% 100%, 0 90%);
    position: relative;
}

.banner-lost img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    opacity: .5;
}

.banner-lost__content{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-lost__content h3 {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-size: calc(var(--header-height) / 1.5);
}

/* Formulario de contacto del footer */

#contacto h3{
    font-size: 25px;
    font-weight: normal;
    text-align: center;
}

#contacto .form{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 77%;
    margin: auto;
}

textarea{
    padding: 8px 0;
    border: 0;
    border-bottom: 1px solid #5cb8ff;
    font-size: 15px;
    color: #212121;
    width: 100%;
    margin-bottom: 10px;
    background-color: #363d41;
    color: white;
}

input[type="text"],input[type="email"]{
width: 49%;
margin-bottom: 15px;
padding: 8px 0;
border: 0;
border-bottom: 1px solid #5cb8ff;
font-size: 15px;
color: #212121;
color: white;
}

input[type="text"]:focus,input[type="email"]:focus, textarea:focus, .in{
outline: 0;
border-bottom: 1px solid#0387d1;
border-radius: 5px;
background-color: #363d41;
color: white;
}

input[type="submit"], .submit{
    width: 165px;
    border-radius: 5px;
    background: #5cb8ff;
    font-size: 14px;
    padding: 10px 0;
    color: white;
   box-shadow: none;
    display: inline-block;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

input[type="submit"]:hover{
    background: #59a7cc;
    transition: .4s;
}

.success{
    color: white;
    background: #44be75;
    padding: 15px 50px;
    margin-bottom: 20px;
    position: fixed;
    top: 90%;
    right: 100px;
    display: none;
}

.form{
   top: 1px;
   box-shadow: none;
} 

/* Datos de contacto del footer */

.data {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
}

.container-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.map{
    margin-top: 10vh;
    margin-bottom: 10vh;
}